.box {
	background-color: #fff3e3;
	padding: 50px;
	width: 60%;
}

.text- {
	color: #b88e2f;
	font-size: 52px;
}

.buy{
    border: 1px solid #B88E2F; 
    padding: 10px 20px; 
    background-color: #B88E2F; 
    color: #ffff; 
    cursor: pointer; 
    font-size: 16px; 
    text-align: center; 
    border-radius: 1px; 
    width:200px;
    height:70px;
}