.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.footer-container {
	display: flex;
}

.footer-heading__name {
	width: 25%;
	color: black;
	padding: 1em;
}

.footer-links_container {
	width: 25%;
	justify-content: start;
	padding: 1em;
}

.footer-links_container a{
    text-decoration: none;
    color: #000;
}

.footer-heading-help {
	width: 25%;
	justify-content: start;
	padding: 1em;
}

.footer-heading-help a{
    text-decoration: none;
    color: #000;

}

.footer-heading-newsletter {
	width: 25%;
	justify-content: start;
	padding: 1em;
}

.footer--header{
    font-weight: lighter;
}

.footer--help{
    font-weight: lighter;
}

.footer-heading-newsletter input[type="text"] {
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
    margin-right: 10px;
    border-width: 1px;
    
  }
  
  .footer-heading-newsletter button {
    background-color: transparent;
    border-top: none;
    border-right: none;
    border-left: none;
    cursor: pointer;
    border-width: 1px;
  }

  .footer-heading__name hr{
    width: 100%;
    display: flex;
    justify-content:  center;

  }
    

 .footer-copyright hr {
    width: 85%;
  } 


