
.browse-header__center {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  text-align: center; /* Center text within each child */
}

.browse-header__center h1 {
  margin: 10px; /* Remove default margin to avoid extra space */
  font-size: 32px;
  padding: 5px 5px 5px 5px;
}

.browse-header__center p {
  margin: 10px; /* Remove default margin to avoid extra space */
  margin-bottom: 10px;
  font-size: 20px;
  padding: 5px 5px 5px 5px;

}



/* .browse-header__center h1{
  display: flex;
  align-items:flex-start;
  text-align: center;
  justify-content: center;

}  */



.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
  justify-content: center;
}

.product--name{
  text-align: center;
}