
.container {
    max-width: 150px;
    margin: auto;
    padding: 10px; 
  }
  
  .md\:grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  } 
  
  
  .product--info {
    margin-top: 20px;
    text-align: center;

  }
  
  .product--name {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px; 
    text-align: center;
  }
  
  
